/* Audience: This interface is designed for people who enjoy playing classic games, and want to play them online. */
.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 80%;
    box-sizing: border-box;
  }
  
  .dropdown:hover .dropdown-content {
    display: flex;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.95);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    flex-direction: row;
  }
  
  .dropdown-description {
    flex: 1;
    text-align: left;
    font-size: 16px;
  }
  
  .dropdown-play {
    flex: 0 0 auto;
    margin-left: 10px;
  }
  
  .dropdown-play a {
    display: block;
    background-color: lightblue;
    color: black;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .dropdown-play a:hover {
    background-color: blue;
    color: white;
  }

  .dropdown-readme {
    margin:10px;
    flex: 1;
    text-align: left;
    font-size: 16px;
  }
  
  .dropdown-readme {
    flex: 0 0 auto;
    margin-left: 10px;
  }
  
  .dropdown-readme a {
    display: block;
    background-color: lightblue;
    color: black;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .dropdown-readme a:hover {
    background-color: blue;
    color: white;
  }

body {
    background-image: url('../media/background.jpeg');
    font-family: 'Games', sans-serif;
    font-size:14pt;
    width:100%;
	margin-top:5%;
}
footer p{
    float:right;
    clear:both;
    background-color:lightblue; 
    color:white; 
    text-align:center;
    border-radius:25px;
    width:20%;
}
header{
	background-color:lightcyan;
    border-radius:25px;
	padding:10px;
	margin-top:0px;
}
article{
    display: flex;
    height:500px;
    overflow:auto;
    flex-wrap:wrap;
	align-items:center;
	justify-content:space-between;
}
aside {
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    width: 150px;
    height: 8%;
    padding: 10px;
    box-sizing: border-box;
  }

  aside a {
    display: block;
    margin-bottom: 10px;
    text-align: center;
    background-color: darkslategray;
    color: whitesmoke;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  aside a:hover {
    background-color: blue;
    color: white;
  }

section{
	flex:1;
	background-color:white;
	border:10px paleturquoise groove;
    border-radius:25px;
	margin:10px;
	padding:20px;
	text-align:center;
	height:200px;
	overflow:auto;
	min-width:150px;
	min-height:200px;
}

h1 {
    text-align:center; 
    font-size:3em;
    font-family: 'Games', sans-serif;
    color:darkblue;
    text-shadow:1px 1px black;
}
h2 {
    font-family: 'Games', sans-serif;
    font-size: 1.75em;
    color:darkblue;
    text-align:center;
    text-shadow:1px 1px black;
}
a:link {
    color:blue; 
    text-decoration: underline; 
}
a:active {
    color:lightblue; 
    text-decoration: underline;
}
a:visited {
    color:mediumblue; 
    text-decoration: underline; 
}
a:hover {
    color: white; 
    background-color: lightblue; 
    text-decoration: none; 
}